/*
 *  <buttton class="my-button my-button-primary">
 *    <span class="icon">smile</span>
 *    <span class="text">Click me!</span>
 *  </button>
 */

$color-green: #00ff00;
$color-red: #ff0000;
$color-blue: #0000ff;
$color-black: #000000;
$color-white: #ffffff;

$font-primary: "Comic Sans MS", cursive, sans-serif;

@mixin radial-gradient($inner-color, $outer-color) {
  background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
  background-image: radial-gradient(circle, $inner-color, $outer-color);
  background-repeat: no-repeat;
}

.my-button {
  padding: 20px;
  font-family: $font-primary;

  &.my-button-primary {
    background: $color-green;
    @include radial-gradient($color-green, $color-blue)
  }

  .icon {
    font-size: 20px;
    background-color: $color-red;
    color: $color-black;
  }

  .text {
    background-color: $color-blue;
    color: $color-white;
  }
}
